<?xml version="1.0" encoding="UTF-8"?>

<suite name="Test1">

   <test name="LoginTest">
    <classes>
      <class name="eclinic247automation.LoginTest" />
      
    </classes>
  </test>
  <test name="MedicalHistory">
    <classes>
      <class name="eclinic247automation.MedicalHistoryTest" />
      
    </classes>
  </test>

</suite>	